* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

/* header */
.header-container {
  display: flex;
  background-color: aquamarine;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

/* .header-container h1 {
} */

.header-container nav {
  flex: 1;
}

.header-container .nav-list {
  display: flex;
  justify-content: flex-end;
}

.nav-item-img {
  width: 22px;
}

.nav-item-link {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 16px;
}

.nav-item-link:link, .nav-item-link:visited {
  color: #000;
  text-decoration: none;
}

.nav-item-link:hover, .nav-item-link:active {
  color: #000;
  text-decoration: underline;
}

/* section */
.section-container {
  display: flex;
  background-color: #fff;
  align-items: flex-start;
}

.section-container img {
  width: 300px;
  margin: 20px 20px 0 20px;
}

.section-container article {
  flex: 1;
  line-height: 22px;
  margin: 20px 20px 20px 0;
}

.footer-container {
  display: flex;
  background-color: cadetblue;
  text-align: center;
  padding: 20px;
  justify-content: center;
}

.footer-container p {
  font-size: 14px;
  color: #fff;
  font-family:Arial, Helvetica, sans-serif;
}

/* common */
.clearfix::after {
  content: '';
  clear: both;
  display: block;
}